@font-face {
      font-family: myHeaderFont;
      src: url('../fonts/Every\ Run\ DEMO.ttf');
}
@font-face {
      font-family: subFont;
      src: url('../fonts/Minnie.ttf');
}
* { 
      margin: 0;
      padding: 0; 

}

body{  
      background-color: #F28C28;
      p{ 
            color: white;
            font-size: 2rem;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      }
}

.header{  
    h1 { 
          margin-top: 10vh;
          text-align: center;
          font-family: myHeaderFont;
          color: whitesmoke;
          font-size: 4rem;
    }
}

.motherDiv{       
      background-color: orange;
      width: 100vw;
      height: 50vh;
      display: flex;
      justify-content: space-between;

}

#headerTitle { 
      text-align: center;
}
#intro { 
      text-align: center;
}
